.box {
    white-space: nowrap;
    border: 1px solid #292929;
    padding: 10px;
    font-size: 0.9em;

    span {
        color: red;
    }

    input {
        font-size: 0.9em;
        text-align: right;
        border: none;
        width: 80%;
        outline: 0;
        padding: 0;
        border-bottom: 1px solid #000;
    }
}